/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --font-family-heading: 'Poppins', sans-serif;
    --font-family-paragraph: Helvetica, sans-serif;
    --font-family-mono: monospace;
    --base-color: #ffffff;
    --base-offset-color: #eaeaea;
    --highlight-color: #7b16ff;
    --heading-color: #1c1b1d;
    --text-color: #4e5157
}

body, html {
    margin: 0;
    padding:0
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style:none
}

ol li, ul li {
    list-style:none
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom:20px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size:16px
}

@media (min-width: 767px) {
    .header {
        padding-bottom: 5px;
        margin-bottom:40px
    }
}

.header a.header-logo {
    font-weight: 700;
    text-transform: uppercase;
    margin-right:30px
}

.hamburger-trigger {
    height: 30px;
    display: flex;
    align-items:center
}

@media (min-width: 992px) {
    .hamburger-trigger {
        display:none
    }
}

.hamburger {
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    background: 0 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 0;
    transition: all .25s ease-in-out;
    color:var(--highlight-color)
}

.hamburger:before, .hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    transform: translate(-50%, -50%);
    transition:transform .25s ease-in-out
}

.hamburger:hover {
    opacity:.7
}

.hamburger.is-active {
    border-color: transparent;
    z-index: 100;
    color:var(--base-color)
}

.hamburger.is-active:hover {
    opacity:1
}

.hamburger.is-active:before {
    transform:translate(-50%, -50%)rotate(45deg)
}

.hamburger.is-active:after {
    transform:translate(-50%, -50%)rotate(-45deg)
}

.footer {
    margin-top:30px
}

@media (min-width: 767px) {
    .footer {
        padding-top:40px
    }
}

.social-icon {
    margin-right:10px
}

.social-icon a {
    text-decoration:none
}

.social-icon a:hover {
    text-decoration:none
}

.social-icon a:hover img {
    opacity:.7
}

a {
    color: var(--highlight-color);
    text-decoration:none
}

a:hover {
    text-decoration:underline
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--heading-color);
    font-family:var(--font-family-heading)
}

p {
    color: var(--text-color);
    font-family: var(--font-family-paragraph);
    font-size: 18px;
    line-height:24px
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style:none
}

ol li, ul li {
    list-style:none
}

.content {
    font-size:18px
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-bottom:20px
}

.content h1 {
    font-size: 40px;
    line-height: 1.6;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom:20px
}

.content h1:first-of-type {
    margin-top:0
}

.content h2 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom:20px
}

.content h2:first-of-type {
    margin-top:0
}

@media (min-width: 767px) {
    .content h2 {
        font-size: 30px;
        line-height:1.4
    }
}

.content h3 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom:20px
}

.content ul, .content ol {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    list-style:disc
}

.content ul li, .content ol li {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left:0
}

@media (min-width: 767px) {
    .content ul li, .content ol li {
        margin-left:20px
    }
}

@media (min-width: 767px) {
    .content ul, .content ol {
        margin-left:20px
    }
}

.content a {
    text-decoration:underline
}

.content blockquote {
    border-left: 5px solid var(--highlight-color);
    margin: 30px 0;
    padding:20px
}

.content blockquote p {
    font-size: 20px;
    display: inline;
    color:var(--color-base-text)
}

.content img {
    margin: 40px 0;
    max-width: 100%;
    height:auto
}

.content figure {
    margin:2.6rem 0 1.18rem
}

.content figure img {
    margin:0
}

.content figure figcaption {
    margin-top:10px
}

.content figure figcaption h4 {
    margin: 0;
    font-size: 1rem;
    font-weight:700
}

.content figure figcaption p {
    margin:0
}

.content code, .content pre {
    font-family:var(--font-family-monospace)
}

.content .highlight pre {
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    padding: 30px;
    overflow: auto;
    font-family:var(--font-family-monospace)
}

.dot {
    color:var(--highlight-color)
}

.footnotes ol {
    list-style:decimal
}

.footnotes ol li {
    list-style:decimal
}

.intro {
    margin-bottom:60px
}

.intro h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom:30px
}

@media (min-width: 767px) {
    .intro h1 {
        width: 80%;
        font-size: 88px;
        line-height: 94px;
        margin-bottom:50px
    }
}

.intro h1 strong {
    color:var(--highlight-color)
}

.intro h2 {
    font-size: 50px;
    line-height:56px
}

@media (min-width: 767px) {
    .intro h2 {
        width:80%
    }
}

.intro p {
    font-size: 20px;
    line-height:26px
}

@media (min-width: 767px) {
    .intro p {
        width: 80%;
        font-size: 22px;
        line-height:32px
    }
}

.intro .read-more {
    font-size: 20px;
    line-height: 26px;
    font-weight:700
}

@media (min-width: 767px) {
    .intro .read-more {
        font-size: 22px;
        line-height:32px
    }
}

.intro img {
    max-width:100%
}

.summary {
    margin-bottom: 50px;
    font-size: 18px;
    line-height:24px
}

@media (min-width: 767px) {
    .summary {
        margin-bottom: 80px;
        font-size: 18px;
        line-height:26px
    }
}

.summary .summary-date {
    font-weight: 700;
    color:var(--heading-color)
}

.summary .summary-title {
    margin: 16px 0;
    width: 80%;
    font-size: 34px;
    line-height:38px
}

@media (min-width: 767px) {
    .summary .summary-title {
        width: 80%;
        font-size: 52px;
        line-height:58px
    }
}

.summary .summary-description {
    width:80%
}

.author {
    margin-top: 30px;
    margin-bottom: 30px;
    color:var(--heading-color)
}

.author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border:2px solid var(--heading-color)
}

.author .author-name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-left:5px
}

.author .author-date {
    display: inline-block;
    vertical-align:middle
}

.author-large {
    font-size:20px
}

.author-large img {
    width: 50px;
    height:50px
}

.author-large .author-name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-left:5px
}

.author-large .author-title {
    display: inline-block;
    vertical-align:middle
}

ul.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex
}

ul.pagination li {
    display:inline-block
}

ul.pagination li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 8px;
    border: 2px solid var(--heading-color);
    border-right:none
}

ul.pagination li:last-of-type a {
    border-right:2px solid var(--heading-color)
}

.menu-main {
    display: none;
    flex:0
}

@media (min-width: 992px) {
    .menu-main {
        display:block
    }
}

.menu-main > ul {
    display: flex;
    align-items: center;
    justify-content:flex-start
}

.menu-main > ul > li {
    margin-right:10px
}

.menu-main > ul > li > a {
    display: inline-block;
    text-decoration:none
}

.menu-main > ul > li > a:hover {
    text-decoration:underline
}

.menu-main > ul > li.active > a {
    display: inline-block;
    font-weight:700
}

.menu-main > ul > li:last-of-type {
    margin-right:0
}

.menu-main-mobile {
    position: fixed;
    background: var(--highlight-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    display: none;
    justify-content: center;
    flex-direction:column
}

.menu-main-mobile.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    z-index: 10;
    display:flex
}

.menu-main-mobile.open li {
    animation: fadeInTop .5s ease forwards;
    animation-delay:.1s
}

.menu-main-mobile.open li:nth-of-type(2) {
    animation-delay:.15s
}

.menu-main-mobile.open li:nth-of-type(3) {
    animation-delay:.2s
}

.menu-main-mobile.open li:nth-of-type(4) {
    animation-delay:.25s
}

.menu-main-mobile.open li:nth-of-type(5) {
    animation-delay:.3s
}

.menu-main-mobile.open li:nth-of-type(6) {
    animation-delay:.35s
}

.menu-main-mobile ul {
    font-size: 2rem;
    font-family: var(--font-family-heading);
    text-align: center;
    list-style: none;
    margin: 0;
    flex:0
}

.menu-main-mobile ul li {
    display: block;
    position: relative;
    opacity:0
}

.menu-main-mobile ul li a {
    display: block;
    position: relative;
    color: var(--base-color);
    text-decoration:none
}

.menu-main-mobile ul li a:hover {
    opacity:.7
}

.menu-main-mobile ul li ul.sub-menu {
    font-size:1.2rem
}

.hamburger-trigger {
    height: 30px;
    display: flex;
    align-items:center
}

@media (min-width: 992px) {
    .hamburger-trigger {
        display:none
    }
}

.hamburger {
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    background: 0 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 0;
    transition: all .25s ease-in-out;
    color:var(--highlight-color)
}

.hamburger:before, .hamburger:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    transform: translate(-50%, -50%);
    transition:transform .25s ease-in-out
}

.hamburger:hover {
    opacity:.7
}

.hamburger.is-active {
    border-color: transparent;
    z-index: 100;
    color:var(--base-color)
}

.hamburger.is-active:hover {
    opacity:1
}

.hamburger.is-active:before {
    transform:translate(-50%, -50%)rotate(45deg)
}

.hamburger.is-active:after {
    transform:translate(-50%, -50%)rotate(-45deg)
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        top:20%
    }

    100% {
        opacity: 1;
        top:0
    }
}

.highlight {
    background:#f5f5f5
}

.highlight .hll {
    background-color:#ffc
}

.highlight .c {
    color: #998;
    font-style:italic
}

.highlight .err {
    color: #a61717;
    background-color:#e3d2d2
}

.highlight .k {
    color: #000;
    font-weight:700
}

.highlight .o {
    color: #000;
    font-weight:700
}

.highlight .cm {
    color: #998;
    font-style:italic
}

.highlight .cp {
    color: #999;
    font-weight: 700;
    font-style:italic
}

.highlight .c1 {
    color: #998;
    font-style:italic
}

.highlight .cs {
    color: #999;
    font-weight: 700;
    font-style:italic
}

.highlight .gd {
    color: #000;
    background-color:#fdd
}

.highlight .ge {
    color: #000;
    font-style:italic
}

.highlight .gr {
    color:#a00
}

.highlight .gh {
    color:#999
}

.highlight .gi {
    color: #000;
    background-color:#dfd
}

.highlight .go {
    color:#888
}

.highlight .gp {
    color:#555
}

.highlight .gs {
    font-weight:700
}

.highlight .gu {
    color:#aaa
}

.highlight .gt {
    color:#a00
}

.highlight .kc {
    color: #000;
    font-weight:700
}

.highlight .kd {
    color: #000;
    font-weight:700
}

.highlight .kn {
    color: #000;
    font-weight:700
}

.highlight .kp {
    color: #000;
    font-weight:700
}

.highlight .kr {
    color: #000;
    font-weight:700
}

.highlight .kt {
    color: #458;
    font-weight:700
}

.highlight .m {
    color:#099
}

.highlight .s {
    color:#d01040
}

.highlight .na {
    color:teal
}

.highlight .nb {
    color:#0086b3
}

.highlight .nc {
    color: #458;
    font-weight:700
}

.highlight .no {
    color:teal
}

.highlight .nd {
    color: #3c5d5d;
    font-weight:700
}

.highlight .ni {
    color:purple
}

.highlight .ne {
    color: #900;
    font-weight:700
}

.highlight .nf {
    color: #900;
    font-weight:700
}

.highlight .nl {
    color: #900;
    font-weight:700
}

.highlight .nn {
    color:#555
}

.highlight .nt {
    color:navy
}

.highlight .nv {
    color:teal
}

.highlight .ow {
    color: #000;
    font-weight:700
}

.highlight .w {
    color:#bbb
}

.highlight .mf {
    color:#099
}

.highlight .mh {
    color:#099
}

.highlight .mi {
    color:#099
}

.highlight .mo {
    color:#099
}

.highlight .sb {
    color:#d01040
}

.highlight .sc {
    color:#d01040
}

.highlight .sd {
    color:#d01040
}

.highlight .s2 {
    color:#d01040
}

.highlight .se {
    color:#d01040
}

.highlight .sh {
    color:#d01040
}

.highlight .si {
    color:#d01040
}

.highlight .sx {
    color:#d01040
}

.highlight .sr {
    color:#009926
}

.highlight .s1 {
    color:#d01040
}

.highlight .ss {
    color:#990073
}

.highlight .bp {
    color:#999
}

.highlight .vc {
    color:teal
}

.highlight .vg {
    color:teal
}

.highlight .vi {
    color:teal
}

.highlight .il {
    color:#099
}

html, body {
    box-sizing:border-box
}

body {
    background: var(--base-color);
    font-family: var(--font-family-paragraph);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
    overflow-x:hidden
}

@media (min-width: 767px) {
    body {
        padding:50px
    }
}

body.frame {
    min-height: 100vh;
    border:18px solid var(--highlight-color)
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto
}